
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; 
  }
  
  /* Header styling */
  header {
    background-color: rgb(160, 179, 140); 
    padding: 10px;
    text-align: center;
    font-size: 35px; 
    color: rgb(203, 167, 167);
  }
  
  
  header img {
    width: 100%; 
    max-width: 2500px; 
    height: auto; 
  }
  
  /* Styling navigasi */
  nav {
    float: left;
    width: 30%;
    background: rgb(0, 255, 85) ;
    padding: 20px;
    box-sizing: border-box; 
  }
  
  /* Styling daftar di navigasi */
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  a{
    color: rgb(131, 87, 87);
    text-decoration: none;
  }
  
  /* Selector untuk tautan yang sudah diklik */
  a:visited {
    color: rgb(212, 111, 161);
  }
  
  /* selector untuk tautan saat dihover (ketika kursor berada diatasnya) */
  a:hover {
    color: rgb(97, 96, 95);
    text-decoration: none;
  }
  
  /* Styling artikel */
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: rgb(113, 8, 242);
    box-sizing: border-box; 
  }
  
  /* Menghapus float pada section untuk mengatur layout */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Styling footer */
  footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: auto; 
  }